In [5]:
def test(a , b) :
    """this is my function for concatination or addition """
    return a + b

In [11]:
test(6,5)

11

In [13]:
test("namdev" , "patange")

'namdevpatange'

In [15]:
test(a = 10  , b = 14 )

24

In [17]:
test(b = 46 , a = 8)

54

In [19]:
print()

In [25]:
def test1(a,b,c,d,e) :
    return a ,b ,c,d,e

In [135]:
test1(3,4,5,6)

360

In [39]:
def test(*a):
    return a

In [41]:
test(34,56)

(34, 56)

In [43]:
test(2,3,4,4)

(2, 3, 4, 4)

In [45]:
test(4,5,6,6,6,[3,4,5,5,5,6])

(4, 5, 6, 6, 6, [3, 4, 5, 5, 5, 6])

In [47]:
def test4(*args):
    return args

In [49]:
test4(34,56,6,76,7)

(34, 56, 6, 76, 7)

In [51]:
def test5(*a) :
    l = []
    for i in a :
        l.append(i)
    return l

In [53]:
test5(2,3,4,45,5,[345,56,5,6])

[2, 3, 4, 45, 5, [345, 56, 5, 6]]

In [55]:
test5(3,4,5,56)

[3, 4, 5, 56]

In [57]:
def test6(a,b,c,d , *m):
    return a , b, c,d, m

In [59]:
test6(3,4,5,5,6,6,7,7,8,8)

(3, 4, 5, 5, (6, 6, 7, 7, 8, 8))

In [61]:
def test7(*m,a,b,c,d,e):
    return m , a,b,c,d,e

In [63]:
test7(4,5,65,6,6,7,7,56,a = 67,b  = 34,c = 54,d= 67,e = 78)

((4, 5, 65, 6, 6, 7, 7, 56), 67, 34, 54, 67, 78)

In [267]:
def test8(**namdev):
    return namdev

In [67]:
test8(b = 4,c = 5,d =  6,e = 6 , n = [3,4,45,5,6,6,6])

{'b': 4, 'c': 5, 'd': 6, 'e': 6, 'n': [3, 4, 45, 5, 6, 6, 6]}

In [69]:
def test11(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
        return n

In [71]:
test11(2,3,4,5,6,7,8)

2

In [137]:
d = {'b': 4, 'c': 5, 'd': 6, 'e': 6}

In [143]:
test9(b)

((<function __main__.<lambda>(*sudh)>,), {})

In [78]:
def test9(*m , **s) :
    return m , s

In [80]:
test9(345,45,56,5,6,56,b= 4,c= 6, d = 7 , g = 9)

((345, 45, 56, 5, 6, 56), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

In [82]:
def test10(*m):
    n = 0
    for i in m :
        if type(i) == int :
            n = n+i
    return n

In [84]:
test10(2,3,4,5,5,6,6)

31

In [86]:
test10(2,3,4)

9

In [88]:
def test1(*m):
    n = 1
    for i in m :
        if type(i) == int :
            n = n*i
    return n

In [90]:
test1(4,5,6,6,7,87,8)

3507840

In [92]:
n = lambda a , b : a + b

In [94]:
n(4,5)

9

In [96]:
def test5(a,b):
    return a + b

In [98]:
test5(4,5)

9

In [100]:
n(5,6)

11

In [265]:
b = lambda *nama : nama

In [104]:
b(45,5,4,5,5,6,677)

(45, 5, 4, 5, 5, 6, 677)

In [106]:
t = (3,4,4,5,5,6,67,7,7)
l = []
for i in t :
    l.append(i)

In [108]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [110]:
[i for i in t]

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [145]:
s = "namdev"

In [147]:
[i for i in s ]

['n', 'a', 'm', 'd', 'e', 'v']

In [149]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [151]:
l = []
for i in range(10):
    l.append(i*i)

In [153]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [155]:
l = lambda *x : [i**2 for i in x ]

In [157]:
l(4,45,5,6,6,7,8,9)

[16, 2025, 25, 36, 36, 49, 64, 81]

In [81]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str:
            count += 1
        if type(v) == list :
            for i in v :
                if type(i) == str :
                    count+= 1
    return count

In [237]:
test14(a = 7 , b = "namdev" , c = 345 , d = "namdebv" , l = [2,3,4,45 , "namdev"])

dict_values([7, 'namdev', 345, 'namdebv', [2, 3, 4, 45, 'namdev']])
7
False
namdev
True
345
False
namdebv
True
[2, 3, 4, 45, 'namdev']
False

3

In [239]:
def test15(**kwargs) :
    return list(kwargs.values())

In [243]:
test15(a = 7 , b = "nama" , c = 345 , d = "patange" , l = [2,3,4,45 , "deshmukh"])

[7, 'nama', 345, 'patange', [2, 3, 4, 45, 'deshmukh']]

In [263]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

SyntaxError: invalid syntax (1447101324.py, line 1)

In [85]:
def test4(a, b, c, *m):
  return a, b, c, m

test4(5,6,2,4,[5,2])

(5, 6, 2, (4, [5, 2]))

In [88]:
b= lambda *a : a 
b(1,2,3)

(1, 2, 3)

In [93]:
t=(1,2,3,4)
[i for i in t]

[1, 2, 3, 4]

In [94]:
l = lambda *x: [i**2 for i in x]

In [95]:
l(4,5,6,7)

[16, 25, 36, 49]

In [98]:
def test10(*m):
    n=1
    for i in m:
        if type(i) == int :
            n=n*i
    return n

In [99]:
test10(4,4,5,5,6)

2400

In [101]:
L=[1,2,4,5,[1,3,4,6]]

L.pop(2)
L

[1, 2, 5, [1, 3, 4, 6]]

In [103]:
b=lambda *a : a
b(1,2,3)

(1, 2, 3)

In [105]:
def test5(*a,x,y,z):
    return *a,x,y,z,
test5 (8,8,9,9,7,7,7,3,x=5,y=7,z=5)

(8, 8, 9, 9, 7, 7, 7, 3, 5, 7, 5)

In [108]:
s='Deepak'

s[-1::-1]

'kapeeD'

In [107]:
s[0:6:-1]

''

In [109]:
def aad(a,b):
    '''this is my functionde'''
    z = a+b
    return z
    h = a*b
    return h

In [110]:
aad(1,2)

3

In [113]:
def test10(*m , **sm):
    return m,sm

In [269]:
s="namdev"
a=0 
v='patange'
while a < len(s):
    if s[a] in v :
        print(s.replace(s[a] ,"*"))
    a = a + 1

*amdev
n*mdev
namd*v

In [201]:
d={"ab":1,'cd':2,'ef':3}

for k in d:
    print(k)

ab
cd
ef

In [203]:
t = (3, 4, 5, 6, 78)
l = [i for i in t]
print(l)
ab = list(j for j in l)
print(ab)

[3, 4, 5, 6, 78]
[3, 4, 5, 6, 78]

In [247]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v)==str:
            count+=1
        if type(v)==list:
            count+=1
    return count

test14(a=7,b="nama",c=345,d="dd",l=[2,3,4,5,"Su"])

{'a': 7, 'b': 'nama', 'c': 345, 'd': 'dd', 'l': [2, 3, 4, 5, 'Su']}
dict_values([7, 'nama', 345, 'dd', [2, 3, 4, 5, 'Su']])

3

In [207]:
def test15(**kwargs):
    {i:j for i,j in kwargs.items()}

In [209]:
def test14(**kargs):
    count=0
    print(kargs.values())
    for i in kargs.values():
        print(i)
        print(type(i) == str)
        if type(i) == str:
            count=count+1
        if type(i) == list:
            for j in i:
                if type(j) == str:
                    count=count+1
    return count

In [211]:
def func(**kwargs):
    count = 0
    for e in kwargs.values():
        if type(e) == list:
            for ele in  e:
                if type(ele) == str:
                    count += 1
    return count
func(v1 = 2,v2 = 3,v3=4, v4=5,name="Namdev", data=["patange", "MLDL", 2021])

2

In [213]:
l= lambda *x : [i*2 for i in x]
l(2,3,4,5)

[4, 6, 8, 10]

In [215]:
def func(**kwargs):
    count = 0
    for e in kwargs.values():
        if type(e) == list:
            for ele in  e:
                if type(ele) == str:
                    count += 1
    return count
func(v1 = 2,v2 = 3,v3=4, v4=5,name="namdev", data=["patange", "MLDL", 2021])

2

In [217]:
def test15(**kwargs):
    return list(kwargs.values())

In [249]:
test15(a=7,b='nama',c=345,d='navnath',l=[2,3,45,'patange'])

[7, 'nama', 345, 'navnath', [2, 3, 45, 'patange']]

In [251]:
n=3
for i in range(n+1):
    print(" "* (n-i) + 'namdev  '*i,"\n")

  namdev

 namdev  namdev

namdev  namdev  namdev

In [223]:
data = [1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'nama',
 'ineuron',
 'patange',
 6,
 8,
 'ineuron',
 'data science']

for i in data:
    
    if type(i) == str:
        print(i)
        if i.isalnum(): 
            print(i)

k1
k1
k2
k2
k3
k3
nama
nama
ineuron
ineuron
patange
patange
ineuron
ineuron
data science

In [253]:
b=lambda *namdev : namdev
b(45,5,4,5,5,6,677)

(45, 5, 4, 5, 5, 6, 677)

In [255]:
def test11(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
        return n

In [257]:
def test13(**kwargs):
    count = 0
    for i in kwargs.values():
        if type(i) == str or type(i) == list: 
            for j in i:
                count += 1
        return count

In [259]:
def test15(**s):
    return {i:j for i,j in s.items()}

In [261]:
test15(a = 1 , b  = 5 , n = 4 )

{'a': 1, 'b': 5, 'n': 4}